* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #fed653;
}
.container{
  display: flex;
}
header, footer{
  border: 1px solid #8d5200;
}
/*HEADER*/
header {
  width: 100%;
  height: 300px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: bottom;
}

.header--titre {
  color: #fed653;
  font-size: 3em;
  align-self: center;
}

h1 {
  font-family: "desdemona black";
  text-transform: uppercase;
}

.header--img {
  width: 500px;
  height: 300px;
  background-color: blue;
}

.co--insc {
  display: flex;
  justify-content: space-between;
  color: #8d5200;
}

.header--co {
  align-self: flex-end;
  padding: 1em;
}

.form--co {
  display: flex;
  flex-direction: column;
}

.form--co label {
  color: #fed653;
  float: right;
}

.form--co input {
  margin-bottom: 10px;
}
/***************************************************************************/

/*NAV*/
.nav--search h2, .nav--genre h2{
  text-align: center;
  padding: 30px 0;
  color: #8d5200;
}
nav{
  width: 450px;
  height: auto;
  background-color: #111;
}
.nav--search{
  height: 400px;
  border: 1px solid #8d5200;
  padding-left: 20px;
}

.form--search{
  display: flex;
  flex-direction: column;
}
.form--search input{
  float: right;
  clear: both;
  margin-right: 20px;
  margin-bottom: 20px;
}

#button--search{
  padding:20px 30px;
  font-size: 1.3em;
  color: #fed653;
  border: 1px solid #8d5200;
  background-color: rgba(17,17,17,0.5);
  box-shadow: 1px 0px 20px #8d5200;
}

.nav--genre{
  border: 1px solid #8d5200;
  padding-left: 20px;
}
.nav--genre li{
  list-style-type: none;
  margin-bottom: 15px;
}

/**************************************************************************/

/*Main*/

main{
  width: 100%;
  height: auto;
  background-image: url(../img/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*carrousel*/

.carrousel {
	margin:0;
	padding:0;
	height:75px;
}
.carrousel li {
	float:left;
	width:75px;
	height:75px;
	margin:0;
	padding:0;
	list-style:none;
	color:#FFF;
	font:3em/1.2 Georgia, "Times New Roman", Times, serif;
	text-align:center;
	background:#C00;
}
/**********************************************************************/

/*Footer*/

footer{
  width: 100%;
  height:300px;
  background-color: #111;
}
