* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #fed653;
}


.container {
  display: flex;
}

header, footer {
  border: 1px solid #8d5200;
  box-sizing: border-box;
}

/*HEADER*/

header {
  width: 100%;
  height: 30vh;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: bottom;
}

.header--titre {
  color: #fed653;
  font-size: 3em;
  align-self: center;
}

h1 {
  font-family: "desdemona black";
  text-transform: uppercase;
}

.header--img {
  width: 500px;
  height: 30vh;
  background-color: blue;
}

.co--insc {
  display: flex;
  justify-content: space-between;
  color: #8d5200;
}

.header--co {
  align-self: flex-end;
  padding: 1em;
}

.form--co {
  display: flex;
  flex-direction: column;
}

.form--co label {
  color: #fed653;
  float: right;
}

.form--co input {
  margin-bottom: 10px;
}

/***************************************************************************/

/*NAV*/

.nav--search h2, .nav--genre h2 {
  text-align: center;
  padding: 30px 0;
  color: #8d5200;
}

.nav--genre a{
  text-decoration: none;
  color:#fed653;
}
nav {
  width: 25vw;
  height: auto;
  background-color: #111;
}

.nav--search {
  border: 1px solid #8d5200;
  padding-left: 30px;
}

.form--search {
  display: flex;
  flex-direction: column;
}

.form--search input {
  float: right;
  clear: both;
  margin-right: 20px;
  margin-bottom: 20px;
}

#button--search, footer #button--envoyer {
  padding: 20px 30px;
  font-size: 1.3em;
  color: #fed653;
  border: 1px solid #8d5200;
  background-color: rgba(17, 17, 17, 0.5);
  box-shadow: 1px 0px 20px #8d5200;
}

.nav--genre {
  border: 1px solid #8d5200;
  padding-left: 30px;
}

.nav--genre li {
  list-style-type: none;
  margin-bottom: 15px;
}

/**************************************************************************/

/*Main*/

main {
  width: 100%;
  height: auto;
  background-image: url(../img/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*carrousel*/

/**********************************************************************/



/*Footer*/

footer {
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: space-between;
}

footer h2 {
  color: #8d5200;
}

footer p {
  padding: 10px 0px 10px 30px;
  font-size: 10px;
}

footer form {
  margin-top: 30px;
}

footer #button--envoyer {
  margin-bottom: 20px;
}

.footer--form input, .footer--form textarea {
  float: right;
  margin-right: 25px;
  margin-left: 15px;
}

.footer--form {
  min-width: 25vw;
  padding-right: 30px;
}

.form--message {
  display: flex;
  padding-bottom: 30px;
}

.footer--mention {
  display: flex;
  align-self: flex-end;
  max-width: 33vw;
}
